<div class="text-center">
  <img src="{{ image }}" height="150" width="150" /><br />
</div>

<div class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="card card-body rounded pt-1">
          <form
            id="submitForm"
            data-parsley-validate=""
            data-parsley-errors-messages-disabled="true"
            novalidate=""
            _lpchecked="1"
          >
            <input
              type="hidden"
              name="_csrf"
              value="7635eb83-1f95-4b32-8788-abec2724a9a4"
            />
            <div class="form-group required pt-1">
              <label for="username">Email : </label>
              <input
                type="text"
                class="form-control text-lowercase"
                id="username"
                required=""
                [(ngModel)]="email"
                name="username"
                value=""
              />
            </div>
            <div class="form-group required pt-1">
              <label class="d-flex flex-row align-items-center" for="password"
                >Password
              </label>
              <input
                type="password"
                class="form-control"
                required=""
                id="password"
                [(ngModel)]="pwd"
                name="password"
                value=""
              />
            </div>
            <br />

            <div class="form-group pt-1">
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <button
                class="btn btn-success btn-block"
                type="submit"
                (click)="Submit()"
              >
                Log In
              </button>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp;

              <button
                class="btn btn-success btn-block"
                type="submit"
                (click)="Cancel()"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
