<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-success border-right" id="sidebar-wrapper">
    <div class="sidebar-heading1 text-white font-weight-bold">Ecommerce</div>
    <!-- <div class="text-white text-center font-weight-bold">Ecommerce</div> -->
    <!-- <h2 class="text-white pl-5">Ecommerce</h2> -->
    <div class="list-group list-group-flush">
      <a
        href="userlist"
        class="list-group-item list-group-item-action bg-success font-weight-bold text-white"
        >Users</a
      >
      <a
        href="productlist"
        class="list-group-item list-group-item-action bg-success font-weight-bold text-white"
        >Products</a
      >
      <a
        href="categorylist"
        class="list-group-item list-group-item-action bg-success font-weight-bold text-white"
        >Category</a
      >
      <a
        href="products"
        class="list-group-item list-group-item-action bg-success font-weight-bold text-white"
        >Logout</a
      >
      <!-- <a href="#" class="list-group-item list-group-item-action bg-success"
        >Events</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-success"
        >Profile</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-success"
        >Status</a
      > -->
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
   

    <div class="container-fluid">
      <h1 class="mt-4">Userlist</h1>

    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>

<!-- /#wrapper -->
